/node_modules
/public/hot
/public/storage
/public/categories/images/*.jpg
/public/categories/images/*.png
/public/categories/images/*.svg
/public/products/images/*.jpg
/public/products/images/*.png
/public/products/images/*.svg
/public/products/images/gallery/*.jpg
/public/products/images/gallery/*.png
/public/products/images/gallery/*.svg
/storage/*.key
/vendor
.idea
.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
